
.fullPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
    max-width: 1280px;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  // background: rgb(86, 123, 249);
  background: white;
  h1,
  h2 {
    color: black;
  }
  h2 {
    margin-bottom: 30px;
  }
  button {
    margin-top: 30px;
  }
  .ant-result-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      font-size: 54px;
    }
  }
}

.templateWrapper {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 62px;
}

hr {
border-top: 1px solid black;
opacity: 0.75;
width:100%;
}



.ant-spin {
  padding-top: 6px;
}

.ant-form-vertical .ant-form-item {
  margin-bottom: 4px !important;
  padding-bottom: 8px !important;
}

.ant-layout-content {
  background-color: white;
  margin-top: 0px !important;
}

img {
  border-radius: 0.75em;
}


.content {
  max-width: 1280px;
}


.body {
  overflow-x: hidden;
  .ant-result-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.body.verification {
  .ant-result-extra {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;

    .top {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: unset;
      margin-right:unset;

      button {
        margin-left: 10px;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  button,
  a {
    margin-left: 20px;

    a {
      margin-left: 0px;
    }
  }

  .cancelButton {
    margin-left: 0px;
    margin-right: auto;
  }
}

.message {
  font-weight: bold;
  color: #1890ff;
}



// HOME AND DASHBOARD
.courseInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .row {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .label {
      font-weight: bolder;
    }
  }
}

h1 {
  margin-bottom: 0px;
}
i {
  opacity: 0.65;
}
.actions {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.375);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  button {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
}