$primary-color: #a5d6a7 !important; // primary color for all components
$link-color: #66a4ad !important;
; // link color
$success-color: #52c41a !important;
; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$font-size-base: 14px; // major text font size
$heading-color: rgba(0, 0, 0, 0.85); // heading text color
$text-color: rgba(0, 0, 0, 0.65); // major text color
$text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-radius-base: 4px; // major border radius
$border-color-base: #d9d9d9; // major border color
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.templateWrapper {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 42px;
}

.ant-spin {
  padding-top: 6px;
}

.ant-form-vertical .ant-form-item {
  margin-bottom: 4px !important;
  padding-bottom: 8px !important;
}

.ant-layout-content {
  margin-top: 0px !important;
}

img {
  border-radius: 0.75em;
}


.content {}


.body {
  overflow-x: hidden;
  .ant-result-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.body.verification {
  .ant-result-extra {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;

    .top {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: unset;
      margin-right:unset;

      button {
        margin-left: 10px;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  button,
  a {
    margin-left: 20px;

    a {
      margin-left: 0px;
    }
  }

  .cancelButton {
    margin-left: 0px;
    margin-right: auto;
  }
}

.message {
  font-weight: bold;
  color: #1890ff;
}